@import './variables.module.scss';

.collaboratorsList {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 0.9em;
}

.collaboratorImage {
  border: 1px solid #eaeaea;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.collaborator {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.collaboratorsSearch {
  width: 100%;
  text-align: center;
  margin: 0em 0;
  svg {
    vertical-align: middle;
  }
  .sushi-input {
    width: 20em;
  }
}
