@import './variables.module.scss';

.footer {
  display: flex;
  flex: 1;
  margin: 1em 0 0 0;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

nav.menu{
  width: 100vw;
  background-color:  $primary-color;
  display: block;
  color: white;
  a:hover {
    color: lighten($color: $secondary-color, $amount: 20%);
  }
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  a {
    margin: 0.5em 0 0.5em 0.5em;
  }
  .login {
    vertical-align: middle;
  }
}


