@import './variables.module.scss';

.sign_in_form {
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
  // padding: 0 20px 20px 20px;
  border: 1px solid lighten($color: $secondary-color, $amount: 30%);
  border-radius: 0.5em;
  height: 100%;

  .form_title {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: $text-color;

    h2 {
      border-style: solid;
      border-color: lighten($color: $secondary-color, $amount: 30%);
      width: 50%;
      text-align: center;
      padding: 0.5em;
      margin: 0;
    }
    .sign_in {
      border-width: 0 1px 1px 0;
      color: $text-color;
      border-radius: 7px 0 0 0;
      background-color: white;
      cursor: default;
    }
    .sign_up {
      cursor: pointer;
      border-width: 0 0 1px 0;
      border-radius: 0 7px 0 0;
      color: lighten($color: $text-color, $amount: 40%);
      background-color: lighten($color: $text-color, $amount: 75%);
    }
  }

  .form_title_{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: $text-color;

    h2 {
      border-style: solid;
      border-color: lighten($color: $secondary-color, $amount: 30%);
      width: 50%;
      text-align: center;
      padding: 0.5em;
      margin: 0;
    }
    .sign_up {
      color: $text-color;
      background-color: white;
      border-width: 0 0 1px 0;
      border-radius: 0 7px 0 0;
      cursor: default;
    }
    .sign_in {
      cursor: pointer;
      border-width: 0 1px 1px 0;
      border-radius: 7px 0 0 0;
      color: lighten($color: $text-color, $amount: 40%);
      background-color: lighten($color: $text-color, $amount: 75%);
    }
  }


  .form_container {
    padding: 1.5em;
  }

  .input {
    label {
      width: 100%;
      color: lighten($color: $secondary-color, $amount: 20%);
    }
    &:focus-within label {
      color: $primary-color;
    }
    input {
      margin: 0.5em 0;
      width: 100%;
    }
  }
  input {
    margin-bottom: 10px;
  };

  .alternative {
    width: 100%;
    margin: 1em;
    text-align: center;
    font-size: smaller;
    color: lighten($color: $text-color, $amount: 40%);
  }
  hr {
      margin: 1em;
  }
  .socails, .submit {
    margin: 0.5em 0;
    display: flex;
    justify-content: space-evenly;

    svg {
      vertical-align: middle;
    }
  }

  .submit {
    margin: 1em 0;
  }
}

