@import './variables.module.scss';

.menu {
  h1 {
    grid-column: 1/2;
  }
  svg {
    grid-column: 2/2;
    width: 1.5em;
    vertical-align: middle;
  }
  .group {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
  }

  button {
    width: 100%;
    margin-top: 0.5rem;
  }
}

.pageMenu {
  padding: 0;
  list-style-type: none;
  margin: 0;
  li {
    padding: 0.4em;
    border: 1px solid lighten($color: $secondary-color, $amount: 30%);
    border-bottom: none;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    &:hover,:focus,:active {
      background: lighten($color: $secondary-color, $amount: 40%);
      cursor: pointer;
    }
    &:last-child {
      border-bottom: 1px solid lighten($color: $secondary-color, $amount: 30%);
    }
    svg {
      width: 0.8em;
    }
  }
  .active {
    background: lighten($color: $secondary-color, $amount: 40%);
  }
}

.pageMenuEdit {
  li {
    &:last-child {
      display: flex;
    }
  }
}

.action {
  margin-top: 1.5em;
  .delete {
    background-color: lighten($color: $secondary-color, $amount: 20%);
  }
  .newPage {
    margin: 1.5em 0;
    color: black;
    border: 1px solid lighten($color: $secondary-color, $amount: 30%);
    background-color: white;
    &:hover {
      background-color: lighten($color: $secondary-color, $amount: 40%);
    }
  }
  button {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}